body {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.divImg {
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.divImg img {
  max-width: 100%; /* larghezza massima dell'immagine al 100% del contenitore */
  max-height: 100%;
  object-fit: cover;
}
