// $background-color_1: #00baf0;
// $background-color_2: #fff;
// $background-color_3: #222;
// $color_1: #fff;
// $color_2: white;

// .top_nav {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: space-between;
//   background-color: $background-color_1;
//   background: linear-gradient(to left, #f46b45, #eea849);
//   color: $color_1;
//   height: 50px;
//   padding: 1em;
// }

// .menu {
//   display: flex;
//   flex-direction: row;
//   list-style-type: none;
//   margin: 0;
//   padding: 0;

//   .menu_item {
//     margin: 0 1rem;
//     overflow: hidden;
//     color: $color_2;
//     text-decoration: none;
//   }
// }

// @media (max-width: 700px) {
//   .menu {
//     position: absolute;
//     top: 0;
//     margin-top: 50px;
//     left: 0;
//     flex-direction: column;
//     width: 100%;
//     justify-content: center;
//     align-items: center;

//     .menu_item {
//       display: flex;
//       justify-content: center;
//       margin: 0;
//       padding: 0.5em 0;
//       width: 100%;

//       &:not(:last-child) {
//         border-bottom: 1px solid #444;
//       }
//     }
//   }
// }
/* header */
// .container {
//   max-width: 1440px;
//   margin: 0 auto;
//   padding-left: 20px;
//   padding-right: 20px;
// }
.header_main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00baf0;
  background: linear-gradient(to left, #f46b45, #eea849);
  color: #fff;
  height: 94px;
  padding: 5px 20px 0 0;
  margin: 0;
}
.header_logo {
  margin: 0;
}
.logo {
  // border: 1px solid black;
  margin: 0;
}
// .header_wrapper {
//   display: flex;
//   justify-content: space-between;
//   width: 100%;
//   height: 75%;
//   align-items: center;
// }

.header_menu {
  @media (max-width: 700px) {
    // height: 10px;
  }
}
.nav_menu ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  @media (max-width: 700px) {
    justify-content: space-around;
    height: 80px;
    gap: 8px;
  }
}

.nav_menu ul li a {
  color: black;

  font-size: 25px;
  font-weight: bold;

  text-decoration: none;

  @media (max-width: 700px) {
    text-align: center;
    font-size: 23px;
  }
}
