@import "/src/assets/css/mixins.scss";
@import "/src/assets/css/variABLES.scss";

.AddTodoInput {
  @include flex-direction();
  gap: 10px;
  padding: 20px;
  margin-bottom: 40px;

  .input {
    height: 40px;
    width: 300px;
    padding-left: 12px;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 1);
    border: 0;
  }

  .btn {
    box-shadow: 0 0 4px rgba(0, 0, 0, 1);
    font-size: 20px;
    color: $primary-color;
  }
}
